@import '/base';

main {
  flex-grow: 1;
  position: relative;
  box-shadow: 0 -0.063rem 0.25rem 0.063rem rgba(0,0,0,0.2);
  clip-path: inset(-1.5rem -0.25rem 0 -0.25rem);
  padding: 0 12%;
  &::before {
    position: absolute;
    z-index: 0;
    content: "";
    left: 100%;
    width: 0.8rem;
    height: 0.8rem;
    background: $white;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    box-shadow: 0.125rem -0.125rem 0.25rem 0 rgba(0,0,0,0.2);
    clip-path: inset(-0.25rem -0.25rem 0 0 );
  }
  &.step-1::before {
    left: 41.8%;
  }
  &.step-2::before {
    left: 48.7%;
  }
  &.step-3::before {
    left: 56.7%;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: $secondary-color;
  position: relative;
  margin-top: 1.5rem;
  &::after {
    content: "";
    position: absolute;
    top: 2.3rem;
    left: 0;
    bottom: 0;
    width: 8%;
    border-bottom: 0.25rem solid #3fc3df;
  }
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: $secondary-color;
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  color: $secondary-color;
}