@import '/base';

footer {
  height: 15%;
  min-height: 6.12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $light-gray;
  box-shadow: 0 0.063rem 0.25rem 0.063rem rgba(0,0,0,0.2);
  clip-path: inset(0 -0.25rem -0.25rem -0.25rem);
  padding: 0 12%;
  border-radius: 0 0 0.125rem 0.125rem;
  &.final {
    justify-content: flex-end;
  }
}