@keyframes logoTransformer {
    0% { 
      transform: translate(0%, 0%) scale(1);
    }
    100% { 
      transform: translate(calc((100vw - 500px * 0.3)/ -2), calc((100vh - 300px * 0.4)/ -2 - 1.5rem)) scale(0.3);
    }
}


@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}